#minuteur{
  background-color: aqua;
  margin: 0px auto;
  width: 30%;
}

#count-value{
  display: flex;
  height: 50px;
  justify-content: space-evenly;
}
#label{
  text-align: center;
  margin-bottom: 20px;
}
.btn{
  color: #FFF;
  height: 30px;
}
.decrement{
  background-color: red;
}
.increment{
  background-color: green;
}